* {
 	box-sizing: border-box;
  margin-right: 2px;
  margin-left: 2px;

}

body{
	background-color: #8BFFEE;
}

div >h1{
  border: 1px solid black;
	float:right;
	position: relative;
	background-color:gray;
	width: 30%; 
}

p {
	clear:both;
	margin-top: 20px;
  padding: 5px;
}

.title{
	font-size: 175%;
	text-align: center;
	margin-top: 50px;
  margin-bottom: 50px;
}
.subtitle{
	text-align: center;
	margin: 0;
	font-size: 125%;
	background-color: red;
	padding: 0;
}
div >div {
  border: 1px solid black;
  float: left;
  background-color: gray;
  margin-top: 10px;

}

/* Desktop */
@media (min-width: 992px) {
  .col-lg {
  width: 32.9%;
 }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

  .col-md {
  width: 49.4%;
}
  .tercera{
  width: 100%;
  
  } 
}
/* Movil */
@media (max-width: 767px) {
  .col-sm {
  width: 100%;
  

}
  
}