* {
  	box-sizing: border-box;
  	margin: 5px;
  	margin-bottom: 5px;
}

body{
	background-color: #8BFFEE;
}

section {
	background-color: #B5C3B9;
	float: left;
	height: 50%;
	border: 1px solid black;
}
#container {
  background-color: #00FFFF;
  position: relative;
  top: 60px;
}
div >h1{

	float:right;
	position: relative;
	background-color:gray;
	width: 30%; 
}

p {
	clear:both;
	margin-top: 20px;
}

div >div {
	float: left;
	background-color: gray;
	width: 32%;
	margin-top: 10px;

}

.title{
	font-size: 175%;
	text-align: center;
	margin-top: 50px;
    margin-bottom: 50px;
}
.subtitle{
	text-align: center;
	margin: 0;
	font-size: 125%;
	background-color: red;
	padding: 0;
}

/* Desktop */
@media (min-width: 992px) {
  #p1 {
    width: 80%;
  }
  #p2 {
    width: 150px;
    height: 150px;
  }
}


/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 50%;
  }
  #p2 {
    width: 100px;
    height: 100px;
  }
  body {
    background-color: blue;
  }
}
/* Movil */
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 50%;
  }
  #p2 {
    width: 100px;
    height: 100px;
  }
  body {
    background-color: blue;
  }
}